body{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
font-family: "Honk", system-ui;
font-weight: 400;
font-style: normal;

}

#st , #sm , #start
{
font-size: 18px;
}

canvas{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
margin-top:120px;
}

#eighty{
    font-size:15px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}